/* CSS Document */
li.loaded {
display: none;
}

@media all and (max-width: 1366px) {
.over_title {
left: 50%;
top: 68px;
margin-left: -205px;
width: 201px;
}
.over_title > img {
width: 201px;
height: 14px;


}

.sub_title {
text-align:center;
padding-top: 220px;
}
.sub_title > img {
width: 390px;
height: 28px;
}

.tabs_bg {
background-image: url(../img/header_narrow_bg.jpg);
background-repeat: no-repeat;
background-position: center top;
min-height: 730px;
}




} 
@media all and (max-width: 1100px) {
.top_bar {
height: 70px;
}
#mobile_menu {
background: transparent url('../img/icon_mobile_menu.png') no-repeat center center;
cursor: pointer;
display: inline-block;
position:absolute;
top: 0px;
left: 0px;
height: 70px;
margin: 0px;
width: 70px;
visibility: visible;
} 
ul.top_bar_menu {
text-align: left;
height: auto;
line-height: normal;
color:#FFF;
display: none;
position: fixed;
left: 0px;
top: 70px;
} 
ul.top_bar_menu li {
display: block;
padding: 0px 28px;
height: 50px;
line-height: 50px;
font-size: 24px;
background-color: #302f2e;
}

}

@media all and (max-width: 642px) {
.normal_width {
width: 100%;
max-width: 100%;
}
.w1006 {
width: 100%;
max-width: 100%;
}
.sub_title_theaters {
padding-top: 445px;
}
.tabs_bg {
background-image: url(../img/header_mobile_bg.jpg);
background-repeat: no-repeat;
background-position: center top;
min-height: 520px;
}
.sub_title,
.over_title {
display: none;
}
.title_holder {
height: 570px;
overflow:visible;

}
.trailer_holder iframe {
width: 640px;
height: 360px;
}
.trailer_stripe {
background-image: url(none);
}
.trailer_outer {
text-align: center;
background-image: url(none);
padding-bottom: 0px;
}
.trailer_holder {
border: 0px;
background-color:#FFF;
margin-top: 0px;
padding: 10px 0px 0px;
display: inline-block;
font-size: 0px;	
}
.panel_gallery_main {
padding: 8px 0px 0px;
height: auto;
position: relative;

}
.panel_gallery_main img {
width: 100%;
max-width: 100%;
height:auto;
}
.prev_photo,
.next_photo {
display:none;
}

.panel_story_main .w1006 {
width:auto;
margin: 0px 66px;

}
.panel_cast_sub_title_line {
background-color:#FFF;
height:auto;

}
.panel_cast_sub_title_line > div {
height:auto;
}
.panel_cast_sub_title_line .w1006 {
width: 100%;
max-width: 100%;

}
.panel_cast_sub_title_line ul{
position:static;
text-align:center;

}
.panel_cast_sub_title_line li {
display: inline-block;
padding: 0px 5px;	
}
.panel_cast_sub_title_line li.loaded {
border-bottom: 0px solid #7e7350;
background-color: #7e7350;
margin: 0px;

}
.panel_cast_sub_title_line li a{
padding: 12px 0px;
margin-bottom: 0px;

}
.panel_cast_main {
/*	display:none;
*/}
.cast_item_text {
margin: 0px 66px;
color:#FFF;

}
.cast_item_picture_holder {
width: 100%;
height: 320px;

}
.cast_item_picture_holder img{
display:none;
}
.cast_jennifer .cast_item_picture_holder {
background-image: url(../img/people/portrait_jennifer_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
.cast_yasin .cast_item_picture_holder {
background-image: url(../img/people/portrait_yasiin_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
.cast_isla .cast_item_picture_holder {
background-image: url(../img/people/portrait_isla_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
.cast_will .cast_item_picture_holder {
background-image: url(../img/people/portrait_will_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
.cast_mark .cast_item_picture_holder {
background-image: url(../img/people/portrait_mark_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
.cast_tim .cast_item_picture_holder {
background-image: url(../img/people/portrait_tim_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
.cast_john .cast_item_picture_holder {
background-image: url(../img/people/portrait_john_mobile.jpg);
background-repeat: no-repeat;
background-position: center center;	
}
/*li.loaded .slimScrollDiv,
li.loaded .slimScrollDiv div {
height:auto !important;
}
li.loaded .slimScrollDiv {
padding-bottom: 12px;
}
li.loaded p {
padding-top: 12px;
}
*/
.panel_cast_main {
height: auto;
background-color: #7e7350;
position:relative;
z-index: 8;

}
.panel_cast_main .cast_item {
display: none;

}
.panel_cast_main .cast_active {
display:block;

}
.panel_cast_main .cast_item p{
margin-bottom: 15px;


}
.panel_cast_main .cast_item_picture {
float:left;
position:relative;
margin-left: -128px;

}
.panel_cast_main .cast_item_text {
margin: 0px 66px;
color:#FFF;
}
.panel_cast_main .cast_item_text > div {
height: 195px;

}
.panel_cast_main .slimScrollRail,
.panel_cast_main .slimScrollBar {
display: none;

}
.slimScrollDiv div {
height:auto !important;
overflow:visible !important;
}
.slimScrollDiv {
height:auto !important;
overflow:visible !important;
padding-bottom: 12px;
}
li.loaded p {
padding-top: 12px;
}

.sec_slide {
display:none;

}

} 


.lb-prev,
.lb-next,
.lb-details {
display:none !important;

}