/** CUSTOM CSS FOR SLIDEBARS MENU
** http://plugins.adchsm.me/slidebars/ **
Slidebars © 2013 - 2014 Adam Smith
**/

body {
margin: 0;
padding: 0;
background-color: #5bc0de;
font-family: 'Roboto', sans-serif;
}


h1 {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 4em;
text-align: left;
color: #DADFE1;

}
h2 {
font-family: 'Roboto', sans-serif;
color: #DADFE1;
}
h3 {
font-family: 'Roboto', sans-serif;
font-weight: 100;
color: #DADFE1;
}
p {

font-family: 'Roboto', sans-serif;
font-weight: 100;
text-align: left;
color: #FFF;
font-size: 24px;
}

a, a:link, a:active, a:visited, a:hover
{
color: #000;
font-weight: 300;
text-decoration: none;
}

.sb-toggle-right {
    position: right;
    text-align: right;
    position: fixed;
    right: 10px;
    top: 10px;
    height: auto;
    width: 100%;
    z-index: 100;
}

.sb-slidebar {
    background-color: #222222; /* Background colour. */
    /* Text colour. */
}

.sb-slidebar a {
    color: #5bc0de;
    text-decoration: none;
}

.sb-slidebar a:hover {
    color: #5bc0de; /* Link hover colour. */
    text-decoration: underline;
}

/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.sb-menu li {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
    border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
    border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
    width: 100%; /* Makes links full width. */
    display: inline-block;
    padding: 1em; /* Creates an even padding the same size as your font. */
    color: #DADFE1;

}

.sb-menu li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

/* Borders */
.sb-left .sb-menu li a {
    border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
    border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .sb-menu li a {
    border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
    border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* Right */


.sb-menu li .sb-open-right, .sb-menu li small {
    display: inline-block;
    padding: 14px;
}

.sb-menu li img {
    margin: 14px;
}
/** content **/

.content {
    margin-bottom: 20%;
    padding: 10% 10% 10% 10%;
    width: 100%;
    height: auto;
    text-align:justify;

}
#footer {
position: inherit;
    height: auto;

}
